/* Color Theme Swatches in Hex */
.Teal-and-Gray-1-hex { color: #00747C; }
.Teal-and-Gray-2-hex { color: #00BBC9; }
.Teal-and-Gray-3-hex { color: #CACACA; }
.Teal-and-Gray-4-hex { color: #878787; }
.Teal-and-Gray-5-hex { color: #202022; }


/* GENERAL */

@font-face {
    font-family: Montserrat;
    src: url(/font/Montserrat.ttf);
}

body {
    font-family: Montserrat;
    background-color: #FAFAFA;
}

.container {
    width: 60%;
    margin: auto;
}

.card {
    background-color: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}


/* ROW STRUCTURE */

.row {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.column-33 {
    width: 33%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.column-50 {
    width: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.row > .column-33:first-child, .row > .column-50:first-child {
    margin-left: 0;
}

.form-input {
    width: 100%;
}

.button {
    margin: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: none;
    padding: 0.25rem 1rem 0.25rem 1rem;
}

.button-primary {
    background-color: #00747C;
    color: #FAFAFA;
}

.button-primary:hover {
    background-color: #00BBC9;
    color: #FAFAFA;
    transition: 100ms;
}

.button-secondary {
    background-color: #878787;
    color: #FAFAFA;
}

.button-secondary:hover {
    background-color: #CACACA;
    color: #202022;
    transition: 100ms;
}


/* TEXT ALIGNMENT */

.text-center {
    text-align: center;
}


/* RESPONSIVENESS */

@media screen and (max-width: 1200px) {
    /* body {
        background-color: red;
    } */
    
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    /* body {
        background-color: blue;
    } */
}

@media screen and (max-width: 768px) {
    /* body {
        background-color: green;
    } */
    
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    /* body {
        background-color: yellow;
    } */
    
    .container {
        width: 100%;
    }

    .row {
        display: unset;
        /* flex-direction: column; */
        margin: 0;
    }

    .column-33, .column-50 {
        width: 100%;
        margin: 0 0 1rem 0;
    }

    input { 
        box-sizing: border-box 
    }
}

@media screen and (max-width: 400px) {
    /* body {
        background-color: purple;
    } */
}