/* In CSS, id's applied to HTML elements are identified with a '#' before the identifier.

The main difference between classes and id's is that a class usually appplies to multiple elements,
while id's are supposed to apply to one single element.*/

#container {
    background-color: #ccefff;
    padding: 1rem;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#first-div { 
    background-color: #1ab6ff;
}

#second-div { 
    background-color: #006999;
}